# Copyright (c) 2018 - 2019 Antmicro <www.antmicro.com>
# Copyright (c) 2024 - 2025 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

config SOC_SERIES_TINYCLUNX33
	select RISCV
	select ATOMIC_OPERATIONS_C
	select INCLUDE_RESET_VECTOR
	select RISCV_ISA_RV32I
	select RISCV_ISA_EXT_M
	select RISCV_ISA_EXT_ZICSR
	select RISCV_ISA_EXT_ZIFENCEI
	select ARCH_HAS_NOCACHE_MEMORY_SUPPORT
	select CPU_HAS_DCACHE
	select CPU_HAS_ICACHE
	imply XIP

if SOC_SERIES_TINYCLUNX33

config LITEX_CSR_DATA_WIDTH
	int "LiteX Control/Status registers are 32-bit as used by litex,uart"
	default 32

endif # SOC_SERIES_TINYCLUNX33
