# Copyright (c) 2024, tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

if SOC_SERIES_TINYCLUNX33

config SYS_CLOCK_HW_CYCLES_PER_SEC
	default 80000000
	default 100000000 if SOC_TINYCLUNX33_RTL_0_9

config NUM_IRQS
	default 12

config SHELL_BACKEND_SERIAL_CHECK_DTR
	# Usability fix: wait that the client connects before sending the prompt
	default y

# Does not use the video_enqueue/dequeue() interface, no need for any video or UVC buffer

config VIDEO_BUFFER_POOL_SZ_MAX
	default 0

config VIDEO_BUFFER_POOL_NUM_MAX
	default 0

config USBD_VIDEO_NUM_BUFS
	default 0

endif # SOC_SERIES_TINYCLUNX33
