/*
 * Copyright (c) 2024 tinyVision.ai Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include "add_opencores_i2c.dtsi"
#include "tinyclunx33_rtl.dtsi"

/* Starting from RTL 1.1, devices boot at 0x200000 instead of 0x200000 */

&boot_partition {
	reg = <0x000000 0x200000>;
};

&slot0_partition {
	reg = <0x200000 0x100000>;
};
