/*
 * Copyright (c) 2025 tinyVision.ai Inc.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

#include <riscv/tinyvision/from_csi0_to_stats0.dtsi>
#include <riscv/tinyvision/from_csi0_to_stacker.dtsi>

#include <riscv/tinyvision/from_csi1_to_stats1.dtsi>
#include <riscv/tinyvision/from_csi1_to_stacker.dtsi>

#include <riscv/tinyvision/from_stacker_to_debayer0.dtsi>
#include <riscv/tinyvision/from_debayer0_to_uvcmanager0.dtsi>

&stacker {
	start-delay-us = <30>;
};

/* USB interfaces */

&zephyr_udc0 {
	num-in-endpoints = <2>;
	num-out-endpoints = <1>;
	status = "okay";

	uvc0: uvc0 {
		compatible = "zephyr,uvc-device";
		interface-name = "tinyCLUNX33-IMX219";
	};
};

&uvcmanager0 {
	usb-endpoint = <0x81>;
};

/* Camera 0 config */

/ {
	imx219ch0_input_clock: imx219ch0-input-clock {
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		#clock-cells = <0>;
	};
};

&csi0_ep_in {
	remote-endpoint-label = "imx219ch0_ep_out";
};

&i2c0ch0 {
	imx219ch0: imx219@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clocks = <&imx219ch0_input_clock>;

		port {
			imx219ch0_ep_out: endpoint {
				remote-endpoint-label = "csi0_ep_in";
			};
		};
	};
};

/* Camera 1 config */

/ {
	imx219ch1_input_clock: imx219ch1-input-clock {
		compatible = "fixed-clock";
		clock-frequency = <24000000>;
		#clock-cells = <0>;
	};
};

&csi1_ep_in {
	remote-endpoint-label = "imx219ch1_ep_out";
};

&i2c0ch1 {
	imx219ch1: imx219@10 {
		compatible = "sony,imx219";
		reg = <0x10>;
		clocks = <&imx219ch1_input_clock>;

		port {
			imx219ch1_ep_out: endpoint {
				remote-endpoint-label = "csi1_ep_in";
			};
		};
	};
};
