*.bit
*.ddt
*.ini
*.tcl
*.tcr
*.xml
*.dmp
*.wlf
*.fbi
*.html
*.history
.metadata
.recovery
__pycache__
/.venv
/build
/impl
/impl_1
/litex
/transcript
/temp
/sim/*
!/sim/Makefile

# Spinal
.bsp/
target/
project/boot/
project/project/
project/plugins/project/
