# Copyright (c) 2022 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0

config USBD_CDC_RAW_CLASS
	bool "USB CDC RAW implementation [EXPERIMENTAL]"
	help
	  USB device CDC RAW class implementation.

if USBD_CDC_RAW_CLASS

config USBD_CDC_RAW_STACK_SIZE
	int "USB CDC RAW workqueue stack size"
	default 1024
	help
	  USB CDC RAW workqueue stack size.

module = USBD_CDC_RAW
module-str = usbd cdc_raw
default-count = 1
source "subsys/logging/Kconfig.template.log_config"

endif
