# Copyright (c) 2025 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

config VIDEO_TINYVISION_UNPACKER
	bool "MIPI to 16-bit pixel unpacker present on tinyVision.ai designs"
	depends on DT_HAS_TINYVISION_UNPACKER_ENABLED
	default y
	help
	  Enable driver for the tinyVision.ai unpacker block.
	  This driver does not do any hardware I/O on its own and only describes the
	  properties of the FPGA peripheral that performs the actual video operation.
