# Copyright (c) 2024 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

config VIDEO_TINYVISION_TESTPATTERN
	bool "test pattern generator present on tinyVision.ai designs"
	depends on DT_HAS_TINYVISION_TESTPATTERN_ENABLED
	default y
	help
	  Enable driver for the tinyVision.ai test pattern.
	  This driver does not do any hardware I/O and only describes the
	  properties of the peripheral.
