# Copyright (c) 2024 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

config VIDEO_TINYVISION_UVCMANAGER
	bool "UVCManager driver for connecting a video source directly to UVC"
	depends on DT_HAS_TINYVISION_UVCMANAGER_ENABLED
	default y
	help
	  Enable the driver for the UVCManager for high bandwidth video to USB3
	  transfers. This file is distributed in binary form.
