
menuconfig I2C_PCA9542A
	bool "NXP PCA9542A 2-channel multiplexer"
	default y
	depends on DT_HAS_NXP_PCA9542A_ENABLED
	help
	  Enable NXP PCA9542A 2-channel multiplexer

if I2C_PCA9542A

config I2C_PCA9542A_ROOT_INIT_PRIO
	int "PCA9542A root driver init priority"
	default I2C_INIT_PRIORITY
	help
	  Should be lower than `I2C_PCA9542A_CHANNEL_INIT_PRIO`

config I2C_PCA9542A_CHANNEL_INIT_PRIO
	int "PCA9542A channel driver init priority"
	default I2C_INIT_PRIORITY
	help
	  Should be higher than I2C_PCA9542A_ROOT_INIT_PRIO

config I2C_PCA9542A_IGNORE_FAILURE
	bool "send the I2C messages when the channel selection fails"
	default n
	help
	  This permits to let I2C message reach their target in case something
	  goes wrong with the I2C multiplexer, or replaced by plain wires.
	  This is disabled by default as I2C messages to the wrong target could
	  have undesired effects.

endif
