# Copyright (c) 2024-2025 tinyVision.ai Inc.
# SPDX-License-Identifier: Apache-2.0

config BOARD_TINYCLUNX33
	select SOC_TINYCLUNX33_CUSTOM if BOARD_TINYCLUNX33_CUSTOM
	select SOC_TINYCLUNX33_RTL_0_8 if BOARD_TINYCLUNX33_RTL_0_8
	select SOC_TINYCLUNX33_RTL_0_9 if BOARD_TINYCLUNX33_RTL_0_9
	select SOC_TINYCLUNX33_RTL_0_10 if BOARD_TINYCLUNX33_RTL_0_10
	select SOC_TINYCLUNX33_RTL_0_11 if BOARD_TINYCLUNX33_RTL_0_11
	select SOC_TINYCLUNX33_RTL_1_0 if BOARD_TINYCLUNX33_RTL_1_0
	select SOC_TINYCLUNX33_RTL_1_1 if BOARD_TINYCLUNX33_RTL_1_1
