img.inline {
    width: calc(50% - 10px);
}

html {
    --page-font-size: 16px;
    --navigation-font-size: 16px;
    --toc-font-size: 16px;
    --code-font-size: 14px; /* affects code, fragment */
    --title-font-size: 22px;
    --memname-font-size: var(--code-font-size);
    --memtitle-font-size: 18px;
}

.grid {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.grid > * {
    background: #9d4c99;
    margin: 10px;
    text-align: center;
    width: 200px;
    padding: 20px 10px;
}

.grid a {
    link-decoration: none;
    color: #ffffff !important;
    font-weight: bold;
    border-radius: 10px;
}

.grid a:hover {
    background-color: #bf77bc;
}
